@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/*jeito certo é ( a, a:visited) obs1: "O primeiro"
  obs2: A sequencia é obrigatoria para funcionar :
  a < a:visited < a:hover < a:active .
*/

a{
    color: red;
    text-decoration: none;
}

a:visited{
    color: blue;
}

a:hover{
    color: tomato;
    text-decoration: underline;
}

a:active{
    color: darkred;
    text-decoration: underline;
}