@charset "UTF-8";

body{
    margin: 0%;
    padding: 0%;
    background: #006699;
    color: white;
}

p{
    text-align: center;
}

.container::before{
    content: "";
    background-image: url(cld-cloud-phone-svgrepo-com.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.3) sepia(4) saturate(6) hue-rotate(180deg);
    width: 400px;
    height: 300px;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

.container{
    width: 400px;
    height: 300px;
    margin: 100px auto;
    position: relative;
  
}